<!DOCTYPE html>
<html>
<head>
  <style>

  </style>
</head>
<body>
   <h2>Hey <%= name %></h2>
   <p>Please click the link below to sign in</p>
   <a href="<%= magic_link %>">Sign in</a>
</body>
</html>
