<main>
  <div class="sent">
    <i class="fa-regular fa-envelope"></i>
    <h2>Check your email</h2>
    <p>Magic link sent to your e-mail. Click the link sent to your e-mail to sign in.</p>
  </div>
</main>
