<main>
  <div>
    <form method="POST" action="/send/magic-link">
        <h2>Sign in</h2>
        <p>Get a magic link to sign in</p>
        <%= csrf_tag %>
        <input type="email" name="email" title="Please use valid email address" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" placeholder="E-mail" required>
        <input type="submit" value="Send magic link">
    </form>
  </div>
</main>
