<main>
   <div class="flex-container">
     <div>
       <h2>Create your menu</h2>
       <form method="POST">
          <input type="text" name="menu-item" placeholder="Menu item" required>
          <div id="menu-item-image"><input type="file" name="menu-item-image"></div>
          <input type="button" value="Add item">
          <input type="button" value="Save item"><br>
          <input type="submit" value="Save items">
        </form>
      <div>
      <div>
         <div>
         <!-- Items show up here-->
         </div>
      </div>
   </div>
</main>
