<main>
  <div>
    <h2>Hey there</h2>
    <p>What kind of account are you setting up?</p>
    <a href="/signup"><i class="fa-solid fa-ice-cream"></i>I want to setup a user account</a><br>
    <a href="/shop/signup"><i class="fa-solid fa-shop"></i>I want to add my shop</a>
  </div>
</main>
