<main>
  <div>
    <h2>Whats your favorite dessert?</h2>
    <form method="POST" action="/location">
    <%= csrf_tag %>
    <button type="button" name="name[]" class="dessert" data-button="ice-cream"><i class="fa-solid fa-ice-cream"></i> Ice cream</button><br>
    <button type="button" name="name[]" class="dessert" data-button="cake"><i class="fa-solid fa-cake-candles"></i> Cake</button><br>
    <button type="button" name="name[]" class="dessert" data-button="pie"><i class="fa-solid fa-stroopwafel"></i> Pie</button><br>
    <button type="button" name="name[]" class="dessert" data-button="cookies"><i class="fa-solid fa-cookie-bite"></i> Cookies</button><br>
    <button type="button" name="name[]" class="dessert" data-button="candy"><i class="fa-solid fa-candy-cane"></i> Candy</button><br>
    <button type="button" name="name[]" class="dessert" data-button="all">All sweets</button><br>
    <input type="submit" id="submit" value="Next">
  </div>
</main>
