<main>
 <div>
     <img src="https://placehold.co/140x140" alt="Default profile image"><br>
     <p>Add an image for your profile</p>
     <form method="POST" enctype="multipart/form-data" action="/profile-image">
       <%= csrf_tag %>
       <div id="profile-image-upload"><input type="file" name="image"></div>
       <input type="submit" value="Next">
     </form>
     <% if locals[:toast] %>
       <div id="toast">
         <%= toast %>
       </div>
     <% end %>
 </div>
</main>
